.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination li {
  background-color: #00cc66;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination li.active {
  background-color: #009933;
}
